<div>
    <h1 style="text-align: center;text-decoration: underline;">"Hotel"</h1>
    <p style="text-align: center;">"Come Lets Explore"</p>
    <p style="text-align: end;">
  </p>
  
  <table style=" width: 100%;height: 10%;">
    <tr>
      <td style="width: 15%; text-align: center;">  <a routerLink="/launchhotel" style="color: #000;"> Launch New Hotel</a>  </td>
      <td style="width: 15%; text-align: center;">  <a routerLink="/hotel" style="color: #000;"> View All Hotel</a>  </td>
      <td style="width: 15%; text-align: center;">  <a routerLink="/upcomingoffers" style="color: #000;"> Upcoming Offers </a>  </td>
      </tr>
  </table>
  
  <hr/>
  </div>
  <app-tdfhotel-page></app-tdfhotel-page>
  <router-outlet></router-outlet>