<div>
    <table>
        <tr>
            <td>
                Room By
                Location

                <select #location (change)="getFilterData(location.value)">
                    <option value="" disabled selected>Select</option>
                    <option> Hyderabad </option>
                    <option>Mumbai</option>
                    <option>Bengalore</option>
                    <option>Chennai</option>
                </select>
            </td>

            <td>
                | Room By
                Menu

                <select #menu (change)="getFilterMenu(menu.value)">
                    <option value="" disabled selected>Select</option>
                    <option>AC Room</option>
                    <option>Non-AC Room</option>
                    <option>Deluxe Room</option>
                    <option>Executive Room</option>
                    <option>FamilySuites Room</option>
                    <option>SuperDeluxe Room</option>

                </select>
            </td>
            <td>
                Room By
                Good ratings at location

                <select #rate (change)="getFilterRatings(rate.value)">
                    <option value="" disabled selected>Select</option>
                    <option> Hyderabad </option>
                    <option>Mumbai</option>
                    <option>Bengalore</option>
                    <option>Chennai</option>
                </select>
            </td>

        </tr>
    </table>

    <div *ngFor="let r of allRoom" style="background-color: rgb(247, 225, 225);">
        <table>
            <tr>
                <td> <img src="/assets\images/{{r.imageName}}" alt=" Room image" width="150px" height="150px">
                </td>
                <td>
                    <h2>{{r.hotelName}} </h2>
                    <hr />
                    
                    <div [ngSwitch]="r.category">
                        <div *ngSwitchCase="'AC Room'" style="color: green;">AC Room</div>
                    <div *ngSwitchCase="'Non-AC Room'" style="color: red;">Non-AC Room</div>
                    <div *ngSwitchCase="'Deluxe Room'" style="color: red;">Deluxe Room</div>
                    <div *ngSwitchCase="'Executive Room'" style="color: red;">Executive Room</div>
                    <div *ngSwitchCase="'FamilySuites Room'" style="color: red;">FamilySuites Room</div>
                    <div *ngSwitchCase="'SuperDeluxe Room'" style="color: red;">SuperDeluxe Room</div>
                    </div>
                    <br>
                    Location: {{r.location}} <br />
                    <p>Ratings:{{r.ratings}}</p>
                    <div *ngIf="r.ratings >'4'" style="color: blue;">
                        Recommended
                    </div>
                    
                    <hr />
                    <button value="{{r.roomId}}" (click)="viewRoomDetails(room.value)" #room>
                        View Details</button>
                </td>
            </tr>
            <hr>
        </table>
    </div>
